<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>Previous builds - ARCH Motorcycle</title>

    <%=require('./components/head.html')%>
    <%=require('./components/header.html')%>
    <div class="page-shadow"></div>
    <div class="grid">
        <div class="grid-line grid-line-vertical __1"></div>
        <div class="grid-line grid-line-vertical __2"></div>
        <div class="grid-line grid-line-vertical __3"></div>
        <div class="grid-line grid-line-horizontal __4"></div>
    </div>

    <div class="scroll-container" id="horizontal-scroll-container">
        <div data-router-wrapper>
            <div data-router-view="builds">
                <div class="page" id="page" data-scroll-direction="horizontal">
                    <section class="section builds">
                        <div class="builds-header">
                            <h6 class="h-5">Browse through <span class="red">ARCH KRGT-1</span></h6>
                            <h1 class="h-3">Previous builds</h1>
                        </div>
                        <div class="builds-wrap">
                            <div class="builds-wrap-item">
                                <div class="builds-row">
                                    <div class="builds-row-item hiddenOnLoading">
                                        <div class="build">
                                            <div class="build-thumb">
                                                <img data-src="../images/pages/builds/1/img_build_01.jpeg" alt="">
                                            </div>
                                            <div class="build-list">
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/1/img_build_02.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/1/img_build_03.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/1/img_build_04.jpeg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="builds-row-item hiddenOnLoading">
                                        <div class="build">
                                            <div class="build-thumb">
                                                <img data-src="../images/pages/builds/2/img_build_05.jpeg" alt="">
                                            </div>
                                            <div class="build-list">
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/2/img_build_06.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/2/img_build_07.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/2/img_build_08.jpeg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="builds-row-item hiddenOnLoading">
                                        <div class="build">
                                            <div class="build-thumb">
                                                <img data-src="../images/pages/builds/3/img_build_09.jpeg" alt="">
                                            </div>
                                            <div class="build-list">
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/3/img_build_10.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/3/img_build_11.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/3/img_build_12.jpeg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="builds-row">
                                    <div class="builds-row-item hiddenOnLoading">
                                        <div class="build">
                                            <div class="build-thumb">
                                                <img data-src="../images/pages/builds/4/img_build_13.jpeg" alt="">
                                            </div>
                                            <div class="build-list">
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/4/img_build_14.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/4/img_build_15.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/4/img_build_16.jpeg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="builds-row-item builds-title">
                                        <h6 class="h-5">Browse through <span class="red">ARCH KRGT-1</span></h6>
                                        <h1 class="h-3">Previous builds</h1>
                                    </div>
                                    <div class="builds-row-item hiddenOnLoading">
                                        <div class="build">
                                            <div class="build-thumb">
                                                <img data-src="../images/pages/builds/5/img_build_17.jpeg" alt="">
                                            </div>
                                            <div class="build-list">
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/5/img_build_18.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/5/img_build_19.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/5/img_build_20.jpeg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="builds-row">
                                    <div class="builds-row-item hiddenOnLoading">
                                        <div class="build">
                                            <div class="build-thumb">
                                                <img data-src="../images/pages/builds/6/img_build_21.jpeg" alt="">
                                            </div>
                                            <div class="build-list">
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/6/img_build_22.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/6/img_build_23.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/6/img_build_24.jpeg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="builds-row-item hiddenOnLoading">
                                        <div class="build">
                                            <div class="build-thumb">
                                                <img data-src="../images/pages/builds/7/img_build_25.jpeg" alt="">
                                            </div>
                                            <div class="build-list">
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/7/img_build_26.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/7/img_build_27.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/7/img_build_28.jpeg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="builds-row-item hiddenOnLoading">
                                        <div class="build">
                                            <div class="build-thumb">
                                                <img data-src="../images/pages/builds/8/img_build_29.jpeg" alt="">
                                            </div>
                                            <div class="build-list">
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/8/img_build_30.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/8/img_build_31.jpeg" alt="">
                                                </div>
                                                <div class="build-list-item">
                                                    <img data-src="../images/pages/builds/8/img_build_32.jpeg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section-nav close-build">
                            <div class="section-nav-box">
                                <div class="section-nav-carousel">
                                    <div class="section-nav-title text-nav">Close</div>
                                    <div class="section-nav-title text-nav">Close</div>
                                    <div class="section-nav-title text-nav">Close</div>
                                    <div class="section-nav-title text-nav">Close</div>
                                    <div class="section-nav-title text-nav">Close</div>
                                    <div class="section-nav-title text-nav">Close</div>
                                    <div class="section-nav-title text-nav">Close</div>
                                    <div class="section-nav-title text-nav">Close</div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
<%=require('./components/scripts.html')%>