.hero{
		&.__home{
			padding: 50px;
			position: relative;
			z-index: 1;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			height: 100%;
				.hero{
					&-content{
						max-width: 580px;
							@include mh($minHeight){
								max-width: 60vmin;
							}
							@include d($minDesktopWidth){
								max-width: 100%;
							}
							&-title{

							}
							&-description{
								max-width: 73%;
									@include d($minDesktopWidth){
										max-width: 90%;
									}
									@include d($xs){
										max-width: 100%;
									}
							}
							&-action{
								margin: 6vmin 0 7vmin;
									@include d($minDesktopWidth){
										margin: 50px 0;
									}
							}
					}
				}
				@include d($minDesktopWidth){
					padding: 15px;
					min-height: 910px;
					height: 100vh;
					justify-content: center;
						&:before{
							content: '';
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 100px;
							background: linear-gradient(180deg, rgba(6, 6, 8, 0) 0%, var(--color-black) 100%);
							pointer-events: none;
						}
				}
				@include d($md){
					min-height: 850px;
				}
				@include d($sm){
					min-height: 750px;
				}
				@include d($xs){
					min-height: 450px;
				}
		}
		&-content{
				&-title{
					@include d($minDesktopWidth){
						max-width: 850px;
						margin-bottom: 51px;
					}
					@include d($md){
						max-width: 740px;
					}
					@include d($sm){
						max-width: 550px;
					}
					@include d($xs){
						max-width: 90%;
					}
				}
				@include d($minDesktopWidth){
					padding-top: 35px;
				}
		}
		&-footer{
			position: absolute;
			bottom: 50px;
			left: 0;
			width: 100%;
			text-align: center;
			pointer-events: none;
			opacity: 0;
				&-image{
					width: 178px;
					height: 42px;
					margin: 0 auto;
						@include d($minDesktopWidth){
							margin: 0;
							width: 28vw;
							height: auto;
							text-align: left;
						}
				}
				@include d($minDesktopWidth){
					display: none;
				}
		}
		@include d($minDesktopWidth){
			.box-split {
				.btn {
					opacity: 0;
					transform: translateY(10px);
				}
			}
		}
}