.motorcycles{
	height: 100%;
		&-bg{
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100%;
			pointer-events: none;
				&-slide{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
						&[data-motorcycle="arch-krgt-1"]{
							.motorcycles-bg-image{
								object-position: center 60%;
							}
						}
						//&[data-motorcycle="arch-1s"]{
						//	background-color: var(--color-white);
						//		&:after{
						//			content: '';
						//			position: absolute;
						//			inset: 0;
						//			background-image: url(../images/noise.png);
						//			background-repeat: repeat;
						//			background-size: 100px;
						//			opacity: .15;
						//		}
						//		&:before{
						//			content: '';
						//			position: absolute;
						//			top: 0;
						//			left: 0;
						//			width: 100%;
						//			height: 47.1%;
						//			background-image: url(../images/grid-system.svg);
						//			background-repeat: repeat-x;
						//			background-size: contain;
						//		}
						//}
						&[data-motorcycle="arch-method-143"]{
							.motorcycles-bg-image{
								object-position: center 75%;
							}
						}
				}
				&-image{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
				#home-hero-video{
					opacity: 0;
				}
				@include d($minDesktopWidth){
					height: 100vh;
					min-height: 910px;
				}
				@include d($md){
					min-height: 850px;
				}
				@include d($sm){
					min-height: 750px;
				}
				@include d($xs){
					min-height: 450px;
				}
		}
		.section.__motorcycle{
			@include m($minDesktopWidth + 1){
				min-width: 150vw;
			}
		}
		@include m($minDesktopWidth + 1){
			display: flex;
		}
}

.motorcycle{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
		&-bg{
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			opacity: 0;
			pointer-events: none;
				&-item{
					position: absolute;
					transition: none;
						@include m($minDesktopWidth + 1){
							inset: 0;
							@include imageCover(center);
						}
						@include d($minDesktopWidth){
							max-width: none;
							height: 100%;
							//right: -50%;
							right: -190px;
						}
				}
				@include d($minDesktopWidth){
					position: relative;
					width: 100%;
					overflow: hidden;
				}
				&-mask{
					@include d($minDesktopWidth){
						position: absolute;
							&:after{
								content: '';
								position: absolute;
								height: 100px;
								left: 0;
								width: 100%;
								z-index: 1;
								pointer-events: none;
								bottom: 0;
								background: linear-gradient(180deg, rgba(6, 6, 8, 0) 0%, var(--color-black) 100%);
							}
					}
				}
				&:not(.motorcycle-bg-mask){
					@include d($minDesktopWidth){
						&:before,
						&:after{
							content: '';
							position: absolute;
							height: 100px;
							left: 0;
							width: 100%;
							z-index: 1;
							pointer-events: none;
							top: 0;
							background: linear-gradient(180deg, var(--color-black) 0%, rgba(6, 6, 8, 0) 100%);
						}
					}
				}
		}
		&-item{
			position: fixed;
			top: 50vh;
			left: 50vw;
				&-image{
					object-fit: contain;
					object-position: center;
					pointer-events: none;
					opacity: 0;
				}
				&-border{
					position: absolute;
					width: 100%;
					height: auto;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
						path{
							stroke: var(--color-white);
							stroke-width: 2px;
							stroke-dasharray: 1670;
							stroke-dashoffset: 1670;
						}
				}
				@include d($minDesktopWidth){
					position: relative;
					top: 0;
					left: 0;
					padding: 15px;
				}
		}
		&-title{
			position: absolute;
			opacity: 0;
			transition: opacity var(--opacity-duration) var(--opacity-ease);
		}
		&-description{
			position: absolute;
			display: flex;
			z-index: 1;
			width: 100vw;
			//opacity: 0;
			max-width: 80vmin;
			left: 7.3%;
			//bottom: -28%;
			top: calc(100% + 36px);
			justify-content: space-between;
				&-item{
					flex: 1;
					margin-bottom: 2.3vmin;
						&:nth-child(1){
							max-width: 45%;
								@include d($minDesktopWidth){
									max-width: 100%;
								}
						}
						&:nth-child(2){
							max-width: 41.3%;
								@include d($minDesktopWidth){
									max-width: 92%;
								}
						}
						.btn{
							margin-top: 1.7vmin;
								@include d($minDesktopWidth){
									margin-top: 30px;
								}
						}
						@include d($minDesktopWidth){
							margin-bottom: 20px;
						}
				}
				@include d($minDesktopWidth){
					width: auto;
					left: 0;
					max-width: 100%;
					top: 0;
					flex-direction: column;
					position: relative;
				}
		}
		&-advantages{
			background-color: var(--color-white);
			pointer-events: none;
				&:after{
					content: '';
					position: absolute;
					inset: 0;
					background-image: url(../images/noise.png);
					background-repeat: repeat;
					background-size: 100px;
					opacity: .15;
					pointer-events: none;
				}
				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-21.5%);
					height: 100%;
					width: 407px;
					background-image: url(../images/grid-system-y.svg);
					background-repeat: repeat-y;
					background-size: 407px 400px;
					pointer-events: none;
				}
		}
		@include d($minDesktopWidth){
			margin-left: -15px;
			width: calc(100% + 30px);
		}
}

// motorcycles photos //
.arch-krgt-1{
	width: 830px;
	height: 494px;
	margin-top: -247px;
	margin-left: -415px;
		@include mh($motorcycleMinHeight){
			width: 95.5vmin;
			height: 57.5vmin;
			margin-left: -47.75vmin;
			margin-top: -28.75vmin;
		}
		@include d($minDesktopWidth){
			width: 100%;
			height: auto;
			margin-top: 0;
			margin-left: 0;
			margin-top: -124px;
		}
}

.arch-1s{
	@extend .arch-krgt-1;
}

.arch-method-143{
	@extend .arch-krgt-1;
}

// motorcycles boxes //
#arch-krgt-1{
	.motorcycle{
			&-title{
				top: 22.2vmin;
				left: 28.5vmin;
					@include d($minDesktopWidth){
						left: 0;
						top: 115px;
						width: 100%;
						padding: 0 15px;
						font-size: 22vw;
					}
			}
	}
}

#arch-1s{
	.motorcycle{
		&-title{
			top: 22.2vmin;
			left: 106.3vmin;
				@include d($minDesktopWidth){
					left: 0;
					top: 115px;
					width: 100%;
					padding: 0 15px;
					font-size: 34vw;
				}
		}
	}
}

#arch-method-143{
	.motorcycle{
		&-title{
			top: 22.2vmin;
			left: 24.7vmin;
				@include d($minDesktopWidth){
					left: 0;
					top: 155px;
					width: 100%;
					padding: 0 15px;
					font-size: 15vw;
				}
		}
	}
}