.customComponents{
	padding: 18.5vmin 0 46.7vmin;
		.section-content{
				&-label{
					max-width: 158px;
					padding-left: 50px;
					padding-top: 15px;
						@include mh($minHeight){
							max-width: 25vmin;
						}
						@include d($minDesktopWidth){
							padding: 15px;
							max-width: 215px;
						}
				}
				&-description{
					margin-top: 6.4vmin;
					max-width: 50vmin;
						@include d($minDesktopWidth){
							max-width: 100%;
							margin-top: 30px;
						}
				}
		}
		.motor{
			top: 32%;
			left: 3%;
				&.__right{
					left: auto;
					right: 3%;
				}
				@include d($minDesktopWidth){
					left: auto;
					right: 0;
					top: 5%;
				}
		}
		@include d($minDesktopWidth){
			padding: 50px 0 100px;
		}
}

.section-content-abstract{
	&.__krgt-1{
		width: 69vmin;
		height: 67vmin;
		top: 336px;
		left: 52px;
		background-color: var(--color-black);
		z-index: 0;
		opacity: 0;
			img{
				mix-blend-mode: multiply;
				opacity: 0;
			}
			@include mh($minHeight){
				top: 20vmin;
				left: 6vmin;
			}
	}
}