.customComponents{
	padding: 18.5vmin 0 46.7vmin;
		.section-content{
				&-label{
					max-width: 158px;
					padding-left: 50px;
					padding-top: 15px;
						@include mh($minHeight){
							max-width: 25vmin;
						}
				}
				&-description{
					margin-top: 6.4vmin;
					max-width: 50vmin;
				}
		}
}

.section-content-abstract{
	&.__krgt-1{
		width: 69vmin;
		height: 67vmin;
		top: 336px;
		left: 52px;
		background-color: var(--color-black);
		z-index: 0;
		opacity: 0;
			img{
				mix-blend-mode: multiply;
				opacity: 0;
			}
			@include mh($minHeight){
				top: 20vmin;
				left: 6vmin;
			}
	}
}