.photos{
	padding: 15.1vmin 0;
	width: 100vw;
		&-list{
			position: relative;
				&-box{
					//position: absolute;
					//top: 0;
					//left: 0;
					//display: flex;
					//flex-wrap: nowrap;
				}
		}
		&-item{
			height: 35vmin;
			width: 52.3vmin;
			margin: 0 15px;
				img{
					@include imageCover(center);
				}
		}
}