.specifications{
	min-height: 200vh;
	background-color: var(--color-black);
	padding: 17.1vmin 0 0;
	margin-bottom: -1.1vmin;
		&-list{
			margin-top: 8.2vmin;
				&-item{
					padding: 5.2vmin 0 4.8vmin 50px;
					position: relative;
						&.is-active{
							.specifications-label{
								transform: scale(1.1);
							}
						}
						&:last-child{
							&:before{
								content: '';
								position: absolute;
								bottom: 0;
								left: 0;
								width: 100%;
								height: 1px;
								background-color: var(--color-white);
								opacity: .1;
							}
						}
						@include d($minDesktopWidth){
							padding: 35px 45px;
						}
						@include d($sm){
							padding: 25px 15px;
						}
						@include d($xs){
							padding: 15px;
						}
				}
		}
		&-label{
			text-transform: uppercase;
			//white-space: nowrap;
			transform-origin: left center;
			transition: transform .4s ease-out, opacity .4s ease-out;
				&-mask{
					overflow: hidden;
				}
				&-border{
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 1px;
					background-color: var(--color-white);
					//opacity: .1;
				}
				&.text-split{
						.word{
							transform: translateY(50px);
						}
				}
		}
		.section{
				&-content{
						&-label{
							padding-left: 50px;
							padding-top: 15px;
								@include d($minDesktopWidth){
									padding: 15px 0;
								}
						}
				}
		}
		.h-4{
			@include d($xs){
				font-size: 11vw;
			}
		}
		@include d($minDesktopWidth){
			padding: 100px 0 0;
			margin-bottom: 0;
			min-height: 0;
		}
		@include d($md){
			padding-top: 80px;
		}
		@include d($sm){
			padding-top: 60px;
		}
		@include d($xs){
			padding-top: 50px;
		}
}