.builds{
	position: relative;
	//@extend .motorcycle-advantages;
	pointer-events: auto;
		&:before{
			content: '';
			position: absolute;
			inset: 0;
			background-image: url(../images/noise.png);
			background-repeat: repeat;
			background-size: 100px;
			opacity: 0.15;
			pointer-events: none;
		}
		&-wrap{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			mix-blend-mode: multiply;
				&-item{
					position: relative;
				}
				&.is-focused{
					.builds-row-item:not(.is-active){
						opacity: 0;
						pointer-events: none;
					}
					& + .section-nav{
						opacity: 1;
						pointer-events: auto;
						transition-delay: 3s;
					}
				}
				@include d($minDesktopWidth){
					position: relative;
					top: 0;
					left: 0;
					transform: none;
				}
		}
		&-row{
			display: flex;
				&-item{
					width: 72.559vmin;
					height: 41.862vmin;
					text-align: center;
					margin: 40px 55px;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					position: relative;
					transition: opacity var(--opacity-duration) var(--opacity-ease);
						.h-5{
							& ~ .h-3{
								margin-top: 25px;
							}
						}
						&.is-active{
						
						}
						&.is-present{
							.build{
								&:before{
									opacity: 1;
									transition-delay: 1s;
								}
								&-thumb{
									margin-left: -45vw;
									transition-delay: 0s;
									cursor: default;
									pointer-events: none;
										@include d($sm){
											margin-left: 0;
											padding-top: 50px;
											height: 50%;
										}
								}
								&-list{
									opacity: 1;
									transition-delay: 1s;
									pointer-events: auto;
										&-item{
											margin-top: 0;
											transition-delay: 1s;
										}
								}
								@include d($minDesktopWidth){
									overflow: hidden;
								}
							}
						}
						@include d($minDesktopWidth){
							margin: 15px;
						}
						@include d($md){
							margin: 0 15px;
							width: calc(100% - 30px);
							height: 60vw;
						}
				}
				@include m($minDesktopWidth + 1){
					flex-wrap: nowrap;
				}
				@include d($md){
					flex-direction: column;
				}
		}
		&-title{
			@include d($minDesktopWidth){
				display: none;
			}
		}
		&-header{
			padding: 0 15px;
				.h-5{
					margin-bottom: 30px;
				}
				@include m($minDesktopWidth + 1){
					display: none;
				}
				@include d($minDesktopWidth){
					padding-top: 30px;
				}
		}
		.section{
				&-nav{
					transition: opacity var(--opacity-duration) var(--opacity-ease);
				}
		}
		@include d($minDesktopWidth){
			padding-top: 145px;
		}
		@include d($xs){
			padding-top: 25vw;
		}
}