.build{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
		&-thumb{
			width: 100%;
			height: 100%;
			transition: margin 1.5s var(--transform-ease);
			transition-delay: 1s;
			cursor: pointer;
				img{
					@include imageContain(center);
				}
				@include d($sm){
					transition: margin 1.5s var(--transform-ease), height 1.5s var(--transform-ease), padding 1.5s var(--transform-ease);
				}
		}
		&-list{
			position: absolute;
			top: 0;
			right: 0;
			width: 45vw;
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			padding: 10vh 10vmin 10vh 0;
			opacity: 0;
			transition: opacity 1.5s var(--transform-ease);
			pointer-events: none;
				&-item{
					height: 45vh;
					margin-top: 4vmin;
					transition: margin 1.5s var(--transform-ease);
						img{
							@include imageContain(center);
						}
						&:last-child{
							@include d($sm){
								margin-right: 50px;
							}
						}
						@include d($minDesktopWidth){
							height: 35vh;
						}
						@include d($sm){
							height: auto;
							display: inline-block;
							width: 75vw;
						}
				}
				@include d($sm){
					width: 100%;
					height: auto;
					top: auto;
					bottom: 80px;
					padding: 15px;
					white-space: nowrap;
					overflow-x: auto;
					overflow-y: hidden;
				}
		}
		//@include d($md){
		//	position: relative;
		//}
}