.contact{
		&-nav{
			height: 100%;
			width: 50vw;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding: 50px 50px 60px;
				&-images{
					position: absolute;
					inset: 0;
					pointer-events: none;
					overflow: hidden;
					z-index: -1;
					margin-left: -15vw;
						img{
							max-width: none;
							height: 100%;
						}
						&:after{
							content: '';
							position: absolute;
							inset: 0;
							background-color: var(--color-black);
							mix-blend-mode: multiply;
							opacity: .8;
						}
						@include d($minDesktopWidth){
							display: none;
						}
				}
				&-pagination{
					display: inline-flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					margin-top: 5vmin;
						@include d($minDesktopWidth){
							margin-top: 50px;
						}
				}
				&-follow{
					position: absolute;
					bottom: 50px;
					left: 50px;
						[class*=h]{
							color: var(--color-white);
						}
						a{
							color: var(--color-red);
							transition: color var(--color-duration) var(--color-ease);
								@include hover($hoverWidth){
									&:hover{
										color: var(--color-white);
									}
								}
						}
						@include d($minDesktopWidth){
							position: relative;
							bottom: 0;
							left: 0;
							display: none;
						}
				}
				&-message{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					text-align: center;
					opacity: 0;
						.btn{
							margin-top: 2vmin;
						}
						@include d($minDesktopWidth){
							pointer-events: none;
						}
						@include d($sm){
							width: 100%;
						}
				}
				&-title{
					.contact-nav-pagination{
						@include d($minDesktopWidth){
							display: none;
						}
					}
				}
				@include d($minDesktopWidth){
					width: 100%;
					padding: 15px;
				}
		}
		&-form{
			width: 50vw;
			height: 100%;
			//padding-top: 22.7vmin;
			//padding-left: 15.7vmin;
			background-color: var(--color-black);
			/*
			
			 */
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			padding: 50px;
				&-title{
					font-size: 3.95vw;
					transition: color var(--color-duration) var(--color-ease);
						@include hover($hoverWidth){
							&:hover{
								color: var(--color-red);
							}
						}
				}
				&-subtitle{
				
				}
				&-item{
					width: 100%;
					max-width: 35vw;
						@include d($minDesktopWidth){
							max-width: 100%;
						}
				}
				&-like{
					color: var(--color-white);
					line-height: 1.2em;
						a{
							color: var(--color-red);
						}
				}
				.contact-nav-pagination{
					@include m($minDesktopWidth + 1){
						display: none;
					}
				}
				.section{
					&-content{
						&-box{
							&.__bottom{
								@include m($minDesktopWidth + 1){
									position: absolute;
									left: 50px;
									bottom: 50px;
								}
							}
						}
						&-title{
							font-size: 2.92vw;
						}
						&-description{
							color: var(--color-grey-100);
								a{
									color: var(--color-white);
									transition: color var(--color-duration) var(--color-ease);
										@include hover($hoverWidth){
											&:hover{
												color: var(--color-red);
											}
										}
								}
						}
						&-subtitle{
							margin-bottom: 1vw;
						}
					}
				}
				@include d($minDesktopWidth){
					width: 100%;
					padding: 30px 15px 0;
				}
		}
		&-write{
			@include d($minDesktopWidth){
				min-height: 100vh;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
		&.is-success{
			.contact{
					&-nav{
						@include d($minDesktopWidth){
							height: calc(100vh - 175px);
						}
						@include d($xs){
							height: calc(100vh - 25vw);
						}
						&-message{
							opacity: 1;
							pointer-events: auto;
						}
					}
					&-nav-title,
					&-form{
						opacity: 0;
						pointer-events: none;
					}
			}
		}
		@include d($minDesktopWidth){
			padding-top: 145px;
		}
		@include d($xs){
			padding-top: calc(25vw + 15px);
		}
}