.inspiration{
	&-section{
		@include d($minDesktopWidth){
			height: 100vh;
		}
	}
	&-title{
		@extend .h-3;
		font-size: 6.95vmin;
		color: var(--color-grey-600);
		line-height: 1.2em;
			a{
				color: var(--color-red);
			}
			@include d($minDesktopWidth){
				font-size: 8vw;
					a{
						font-size: .72em;
					}
			}
	}
	&-subtitle{
		color: var(--color-grey-600);
		margin-bottom: 20px;
		font-size: 2.32vmin;
		font-family: var(--font-title-light);
			@include d($minDesktopWidth){
				font-size: 20px;
			}
			@include d($sm){
				font-size: 4vw;
			}
	}
	&-banner{
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
			.section-content-image{
				width: auto;
				height: 0;
					&:after{
					content: '';
					position: absolute;
					inset: 0;
					background-color: var(--color-black);
					opacity: .7;
					pointer-events: none;
				}
					img{
						width: auto;
					}
			}
	}
}

.section{
		&-content{
				&-box{
					&.__bottom{
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: flex-end;
						align-items: flex-start;
					}
				}
		}
}