<header class="header">
	<div class="header-nav">
		<div class="nav" id="nav">
			<div class="nav-column">
				<div class="nav-column-bg"></div>
				<div class="nav-list">
					<div class="nav-list-item">
						<a href="index.html" class="nav-link splide" data-transition="menu">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">Home</span>
								<span class="splide__slide">Home</span>
								<span class="splide__slide">Home</span>
								<span class="splide__slide">Home</span>
							</span>
						</span>
						</a>
					</div>
					<div class="nav-list-item">
						<a href="builds.html" class="nav-link splide" data-transition="menu">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">Builds</span>
								<span class="splide__slide">Builds</span>
								<span class="splide__slide">Builds</span>
								<span class="splide__slide">Builds</span>
							</span>
						</span>
						</a>
					</div>
					<div class="nav-list-item">
						<a href="about.html" class="nav-link splide" data-transition="menu">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">About</span>
								<span class="splide__slide">About</span>
								<span class="splide__slide">About</span>
								<span class="splide__slide">About</span>
							</span>
						</span>
						</a>
					</div>
					<div class="nav-list-item">
						<a href="ownership.html" class="nav-link splide" data-transition="menu">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">Ownership</span>
								<span class="splide__slide">Ownership</span>
								<span class="splide__slide">Ownership</span>
								<span class="splide__slide">Ownership</span>
							</span>
						</span>
						</a>
					</div>
					<div class="nav-list-item">
						<a href="contact.html" class="nav-link splide" data-transition="menu">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">Contact</span>
								<span class="splide__slide">Contact</span>
								<span class="splide__slide">Contact</span>
								<span class="splide__slide">Contact</span>
							</span>
						</span>
						</a>
					</div>
					<div class="nav-list-item">
						<a href="krgt-1.html" class="nav-link splide" data-transition="nextMotorcycle">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">KRGT-1</span>
								<span class="splide__slide">KRGT-1</span>
								<span class="splide__slide">KRGT-1</span>
								<span class="splide__slide">KRGT-1</span>
							</span>
						</span>
						</a>
					</div>
					<div class="nav-list-item">
						<a href="arch-1s.html" class="nav-link splide" data-transition="nextMotorcycle">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">Arch 1s</span>
								<span class="splide__slide">Arch 1s</span>
								<span class="splide__slide">Arch 1s</span>
								<span class="splide__slide">Arch 1s</span>
							</span>
						</span>
						</a>
					</div>
					<div class="nav-list-item">
						<a href="method-143.html" class="nav-link splide" data-transition="nextMotorcycle">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">Method 143</span>
								<span class="splide__slide">Method 143</span>
								<span class="splide__slide">Method 143</span>
								<span class="splide__slide">Method 143</span>
							</span>
						</span>
						</a>
					</div>
				</div>
			</div>
			<div class="nav-column">
				<div class="nav-column-bg"></div>
				<div class="nav-column-thumb">
					<img src="../../images/menu-thumb.jpg" alt="Keanu Reeves"/>
				</div>
			</div>
		</div>
	</div>
	<div class="header-panel">
		<div class="header-panel-logo">
			<a href="index.html" class="hero-footer-image">
				<img src="../../images/Logo.svg" alt="ARCH Motorcycle" />
				<img src="../../images/Logo-dark.svg" alt="ARCH Motorcycle" />
			</a>
		</div>
		<div class="header-panel-social">
			<div class="social">
				<a
					href="https://www.facebook.com/archmotorcycle"
					target="_blank"
					class="social-link">Facebook</a>
				<a
					href="https://twitter.com/archmotorcycle/"
					target="_blank"
					class="social-link">Twitter</a>
				<a
					href="https://www.youtube.com/channel/UCkmbqgfpgnFxKhbgel8Nz4w"
					target="_blank"
					class="social-link">Youtube</a>
				<a
					href="https://www.instagram.com/archmotorcycle/"
					target="_blank"
					class="social-link">Instagram</a>
			</div>
		</div>
		<div class="header-panel-nav">
			<div class="burger">
				<span class="burger-title text-button">Menu</span>
				<div class="burger-box">
					<div class="burger-box-arrow"></div>
					<div class="burger-box-arrow"></div>
					<div class="burger-box-arrow"></div>
				</div>
			</div>
		</div>
	</div>
</header>