<header class="header">
	<div class="header-nav">
		<div class="nav" id="nav">
		<div class="nav-column">
			<div class="nav-column-bg"></div>
			<div class="nav-list">
				<div class="nav-list-item">
					<a href="index.html" class="nav-link splide">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">Home</span>
								<span class="splide__slide">Home</span>
								<span class="splide__slide">Home</span>
								<span class="splide__slide">Home</span>
							</span>
						</span>
					</a>
				</div>
				<div class="nav-list-item">
					<a href="#" class="nav-link splide">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">Builds</span>
								<span class="splide__slide">Builds</span>
								<span class="splide__slide">Builds</span>
								<span class="splide__slide">Builds</span>
							</span>
						</span>
					</a>
				</div>
				<div class="nav-list-item">
					<a href="https://apparel.archmotorcycle.com/" target="_blank" class="nav-link splide">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">Apparel</span>
								<span class="splide__slide">Apparel</span>
								<span class="splide__slide">Apparel</span>
								<span class="splide__slide">Apparel</span>
							</span>
						</span>
					</a>
				</div>
				<div class="nav-list-item">
					<a href="about.html" class="nav-link splide">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">About</span>
								<span class="splide__slide">About</span>
								<span class="splide__slide">About</span>
								<span class="splide__slide">About</span>
							</span>
						</span>
					</a>
				</div>
				<div class="nav-list-item">
					<a href="#" class="nav-link splide">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">Ownership</span>
								<span class="splide__slide">Ownership</span>
								<span class="splide__slide">Ownership</span>
								<span class="splide__slide">Ownership</span>
							</span>
						</span>
					</a>
				</div>
				<div class="nav-list-item">
					<a href="#" class="nav-link splide">
						<span class="nav-link-row splide__track">
							<span class="nav-link-row-moving splide__list">
								<span class="splide__slide">Contact</span>
								<span class="splide__slide">Contact</span>
								<span class="splide__slide">Contact</span>
								<span class="splide__slide">Contact</span>
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>
		<div class="nav-column">
			<div class="nav-column-bg"></div>
			<div class="nav-column-thumb">
				<img src="../../images/menu-thumb.jpg" alt="Keanu Reeves"/>
			</div>
		</div>
	</div>
	</div>
	<div class="header-panel">
		<div class="header-panel-social">
			<div class="social">
				<a
					href="https://www.facebook.com/archmotorcycle"
					target="_blank"
					class="social-link">Facebook</a>
				<a
					href="https://twitter.com/archmotorcycle/"
					target="_blank"
					class="social-link">Twitter</a>
				<a
					href="https://www.youtube.com/channel/UCkmbqgfpgnFxKhbgel8Nz4w"
					target="_blank"
					class="social-link">Youtube</a>
				<a
					href="https://www.instagram.com/archmotorcycle/"
					target="_blank"
					class="social-link">Instagram</a>
				<a href="index.html" class="social-link">Home</a>
				<a href="krgt-1.html" class="social-link">KRGT 1</a>
<!--				<a href="about.html" class="social-link">About</a>-->
			</div>
		</div>
		<div class="header-panel-nav">
			<div class="burger">
				<span class="burger-title text-button">Menu</span>
				<div class="burger-box">
					<div class="burger-box-arrow"></div>
					<div class="burger-box-arrow"></div>
					<div class="burger-box-arrow"></div>
				</div>
			</div>
		</div>
	</div>
</header>