.ownership{
		&-title{
			&.__1{
				margin-top: 9vmin;
			}
		}
		&-description{
			&.__1{
				width: 45vmin;
				margin-top: 7.8vmin;
				margin-left: 36vmin;
			}
			&.__2{
				width: 45vmin;
				margin-left: 24.5vmin;
			}
			&.__3{
				width: 56vmin;
				margin-top: 22vmin;
				margin-left: 20.5vmin;
			}
		}
		&-image{
			&.__1{
				width: 53.5vmin;
				height: 45vmin;
				margin: 18.4vmin 0 5.2vmin 24.5vmin;
			}
			&.__2{
				width: 73.2vmin;
				height: 45vmin;
				margin-left: 20.5vmin;
				margin-top: 5vmin;
				margin-right: 30vmin;
			}
		}
}