.ownership{
	&-title{
		&.__2{
			max-width: 120vmin;
		}
	}
	&-description{
		&.__4{
			width: 50vmin;
			margin-top: 5.3vmin;
			margin-left: 41.8vmin;
		}
		&.__5{
			width: 52vmin;
		}
	}
	&-image{
		&.__3{
			width: 51.4vmin;
			height: 36.8vmin;
			margin-bottom: 5.2vmin;
			margin-right: 33.6vmin;
		}
	}
}