.about-parts{
	@extend .motorcycle-advantages;
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
		&-section{
			min-width: 200vw;
				@include d($minDesktopWidth){
					min-width: 0;
					min-height: 200vh;
				}
		}
		&:before{
			display: none;
		}
}

.parts{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	width: 1440px;
	height: 860px;
	transform: translate(-50%,-50%);
		&-item{
			position: absolute;
				&.__1{
					width: 560px;
					left: 38.5%;
					top: 23.2%;
				}
				&.__2{
					width: 433px;
					top: 54.7%;
					left: 42.2%;
				}
				&.__3{
					width: 176px;
					top: 65.2%;
					left: 25%;
				}
				&.__4{
					width: 55px;
					top: 66.4%;
					left: 37.7%;
				}
				&.__5{
					width: 56px;
					left: 70.1%;
					top: 71%;
				}
				&.__6{
					width: 408px;
					top: 43.6%;
					left: 12%;
				}
				&.__7{
					width: 220px;
					left: 72.5%;
					top: 48.2%;
				}
				&.__8{
					width: 136px;
					top: 32%;
					left: 14.45%;
				}
				&.__9{
					width: 256px;
					top: 20.1%;
					left: 13.2%;
				}
				&.__10{
					width: 153px;
					top: 26.6%;
					left: 27.1%;
					z-index: -1;
				}
				&.__11{
					width: 138px;
					top: 11.4%;
					left: 28.9%;
				}
				&.__12{
					width: 211px;
					top: 20.8%;
					left: 36.8%;
				}
				&.__13{
					width: 56px;
					top: 18.7%;
					left: 52.9%;
				}
				&.__14{
					width: 33px;
					top: 24.5%;
					left: 56.7%;
				}
				&.__15{
					width: 100px;
					top: 11.4%;
					left: 59.4%;
				}
				&.__16{
					width: 97px;
					top: 24%;
					left: 66%;
				}
				&.__17{
					width: 98px;
					top: 28.2%;
					left: 69.5%;
				}
				&.__18{
					width: 40px;
					top: 37.4%;
					left: 77.1%;
				}
				&.__19{
					width: 148px;
					top: 28.2%;
					left: 75.6%;
				}
				&.__20{
					width: 34px;
					top: 20.2%;
					left: 77%;
				}
				&.__21{
					width: 77px;
					top: 17.7%;
					left: 81%;
				}
		}
		@include d($minDesktopWidth){
		
		}
		@include d($md){
			transform: translate(-50%, -50%) scale(.8);
		}
		@include d($sm){
			transform: translate(-50%, -50%) scale(.6);
		}
		@include d($xs){
			transform: translate(-50%, -50%) scale(.4);
		}
}