body{
	background-color: var(--color-black);
	color: var(--color-white);
	font-family: var(--font-body);
	font-size: 16px;
	overscroll-behavior: none;
		@include mh($minHeight){
			font-size: 1.86vmin;
		}
		@include d($minDesktopWidth){
			font-size: 16px;
		}
		@include d($sm){
			font-size: 14px;
		}
}

.theme-white{
	opacity: 0;
}

.is{
		&-dark {
			background-color: var(--color-black) !important;
			color: var(--color-white) !important;
		}
		&-white{
			background-color: var(--color-white);
			color: var(--color-black);
				.theme{
					&-dark{
						//opacity: 0;
					}
					&-white{
						opacity: 1;
					}
				}
		}
}

/*
Hide scrollbar
 */
::-webkit-scrollbar {
	display: none;
}

#wrapper{
	position: relative;
	width: auto;
	overflow: hidden;
		@include d($minDesktopWidth){
			width: 100%;
		}
}

.container{
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding: 0 15px;
}

.copyright{
	font-family: var(--font-title-light);
	font-size: 50px;
	line-height: .9em;
	display: inline-flex;
	align-items: flex-end;
		&-sign{
			font-size: .7em;
			line-height: 1em;
			display: inline-block;
			margin-right: 9px;
		}
		@include d($xs){
			font-size: 36px;
		}
}

.box-split{
	.btn{
		opacity: 0;
		transform: translateY(10px);
			@include d($minDesktopWidth){
				opacity: 1;
				transform: none;
			}
	}
}

.text-split{
		.word{
			opacity: 0;
			transform: translateY(10px);
			display: inline-block;
				//@include d($minDesktopWidth){
				//	opacity: 1 !important;
				//	transform: none !important;
				//}
		}
		&[class*=h-4]{
			.word{
				transform: translateY(100px);
					//@include d($minDesktopWidth){
					//	transform: none !important;
					//}
			}
		}
}

.motor{
	position: absolute;
	width: 69.31vmin;
	height: 67.33vmin;
	background-color: var(--color-black);
	opacity: .5;
	z-index: -1;
		img{
			mix-blend-mode: multiply;
		}
}

.showThumbOnScroll{
	//overflow: hidden;
		.section-content-image{
			//width: 0;
			overflow: hidden;
			transition: transform .2s ease-out;
				img{
					transform-origin: center;
					transition: inherit;
				}
		}
		.photos-item{
			overflow: hidden;
				.section-content-image{
					//transform: scale(1.1);
					opacity: 0;
				}
		}
}

.showContentOnScroll{

}

.showContentOnLoad,
.showThumbOnLoad,
.hiddenOnLoading{
	opacity: 0;
		img{
			opacity: 0;
			transform: scale(1.2) translateY(20px);
		}
}

.showThumbOnLoad{
	overflow: hidden;
}

.parallaxVerticalOnScroll{
		img{
			transform: scale(1.3);
			opacity: 0;
		}
}

img{
	//transition: opacity .1s var(--opacity-ease);
		&[data-src]{
			opacity: 0;
		}
}

.mouseFollow{
	&-wrap{
		position: relative;
	}
	&-item{
		position: absolute;
	}
}