.burger{
	display: inline-flex;
	align-items: center;
	color: inherit;
	cursor: pointer;
		&-title{
			margin-right: 12px;
			display: inline-block;
				@include d($minDesktopWidth){
					margin-right: 10px;
				}
		}
		&-box{
			width: 16px;
			height: 18px;
			position: relative;
				&-arrow{
					position: absolute;
					width: 2px;
					height: 100%;
					background-color: currentColor;
						&:nth-child(1){
							left: 0;
						}
						&:nth-child(2){
							left: 50%;
							margin-left: -1px;
						}
						&:nth-child(3){
							left: calc(100% - 2px);
						}
				}
				@include mh($minHeight) {
					width: 1em;
					height: 1.125em;
				}
				@include d($minDesktopWidth){
					width: 16px;
					height: 18px;
				}
		}
		&.is-active{
				.burger{
						&-title{
							color: var(--color-white);
								@include d($minDesktopWidth){
									color: var(--color-black);
								}
								@include d($md){
									color: var(--color-white);
								}
						}
						&-box-arrow{
							color: var(--color-black);
								@include d($md){
									color: var(--color-white);
								}
						}
				}
		}
}