.btn{
	display: inline-flex;
	align-items: center;
	color: var(--color-red);
	font-family: var(--font-title);
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .3em;
	background-color: transparent;
	padding: 0;
	border: none;
	white-space: nowrap;
	transition: color var(--color-duration) var(--color-ease);
		&-title{
			display: inline-block;
			padding-top: 3px;
			white-space: nowrap;
		}
		&-icon{
			display: inline-block;
			width: 26px;
			height: 26px;
			margin-left: 40px;
			transition: transform var(--color-duration) var(--color-ease);
				svg{
					fill: currentColor;
					width: 100%;
					height: 100%;
				}
				@include mh($minHeight) {
					width: 3vmin;
					height: 3vmin;
				}
				@include d($minDesktopWidth){
					width: 26px;
					height: 26px;
				}
		}
		&-back,
		&-next{
			font-size: 12px;
			letter-spacing: .1em;
				.btn{
					&-icon{
						margin-left: 0;
						margin-right: 20px;
						width: 5px;
						height: 12px;
							@include mh($minHeight) {
								width: .585vmin;
								height: 1.3956vmin;
							}
							@include d($minDesktopWidth){
								width: 18px;
								height: 18px;
							}
					}
				}
				@include hover($hoverWidth) {
					&:hover {
						color: var(--color-white);
					}
				}
		}
		&-next{
				.btn{
					&-icon{
						margin-left: 20px;
						margin-right: 0;
						transform: scaleX(-1);
					}
				}
		}
		@include mh($minHeight) {
			font-size: .88em;
		}
		@include d($minDesktopWidth){
			font-size: 20px;
		}
		@include d($md){
			font-size: 18px;
		}
		@include d($sm){
			font-size: 16px;
		}
		@include d($xs) {
			font-size: 14px;
		}
		&:not(.btn-back):not(.btn-next):not(.advantages-nav-link){
			@include hover($hoverWidth) {
				&:hover{
					color: var(--color-white);
						.btn-icon{
							transform: rotate(45deg);
						}
				}
			}
		}
		&-sm{
			font-size: 12px;
			letter-spacing: .1em;
			color: inherit;
				.btn-icon{
					width: 12px;
					height: 12px;
					margin-left: 25px;
				}
				svg{
					color: var(--color-red);
				}
				@include mh($minHeight) {
					font-size: 1.38vmin;
				}
		}
}