.footer{
		&-nav{
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			margin-bottom: -6px;
				nav{

				}
				ul{
					display: flex;
					align-items: flex-end;
				}
				li{
					&:not(:last-child){
						padding-right: 17vmin;
							@include d($sm){
								padding-right: 55px;
							}
							@include d($xs){
								padding-right: 25px;
							}
					}
				}
				@include d($minDesktopWidth){
					margin-bottom: 0;
					margin-top: 60px;
				}
		}
		&-social{
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
				&-link{
					text-transform: lowercase;
					width: 100%;
				}
				li{
					&:not(:last-child){
						padding-bottom: 5.1vmin;
					}
				}
				@include d($minDesktopWidth){
					position: relative;
					padding: 30px 0;
				}
		}
		&-banner{
			position: absolute;
			height: 53.7vmin;
			width: 47vmin;
			bottom: -50px;
			left: 44.5%;
			pointer-events: none;
			z-index: -1;
				img{
					@include imageCover(center);
				}
				@include d($minDesktopWidth){
					display: none;
				}
		}
}