.header{
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	padding: 0 50px;
	z-index: 4;
	opacity: 0;
		&-panel{
			display: flex;
			align-items: center;
				&-social{
					position: relative;
				}
				&-nav{
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					padding-right: 22px;
						@include mh($minHeight){
							padding-right: 2.7vmin;
						}
				}
		}
		&-nav{
			display: none;
		}
}