.scroll{
		&-container{
			display: inline-block;
			position: relative;
				&-vertical{
					width: 100vw;
					min-height: 100vh;
				}
				&.__vertical{
					z-index: 2;
				}
				&.__reset-loco{
					transform: none !important;
					position: relative;
					//z-index: 2;
				}
				@include d($minDesktopWidth){
					width: 100%;
				}
		}
}

.c{
		&-scrollbar{
			display: none;
		}
}

html.__reset-loco{
	overflow: initial !important;
		body,
		#wrapper{
			overflow: initial !important;
		}
}