.scroll{
		&-container{
			display: inline-block;
			position: relative;
				&.__vertical{
					z-index: 2;
				}
				&.__reset-loco{
					transform: none !important;
					position: relative;
					//z-index: 2;
				}
		}
}

.c{
		&-scrollbar{
			display: none;
		}
}

html.__reset-loco{
	overflow: initial !important;
		body{
			overflow: initial !important;
		}
}