.tailor{
	&-thumb{
		&.__4{
			width: 66.7vmin;
			height: 44.5vmin;
			margin-top: -18.8vmin;
			margin-right: -3.8vmin;
			margin-left: auto;
		}
		&.__5{
			width: 58vmin;
			height: 38.5vmin;
			margin-top: 17.6vmin;
			margin-left: 12vmin;
		}
		&.__6{
			width: 51.3vmin;
			height: 34.2vmin;
			margin-left: 12vmin;
		}
	}
}