.hero-method-143{
	padding-bottom: 12.3vmin;
		.hero{
			&-title{
				padding-left: calc(24.7vmin + 50px);
			}
			&-banner{
				margin: 4.2vmin 4.5vmin 5.5vmin auto;
				width: 73.4vmin;
				height: 49vmin;
			}
			&-description{
				&.__1{
					margin-top: 3.3vmin;
					max-width: 36vmin;
				}
			}
		}
}