.tailor{
	&-thumb{
		&.__7{
			width: 41.1vmin;
			height: 27.4vmin;
			margin-top: 0.7vmin;
			margin-right: 8vmin;
			margin-left: auto;
				@include d($minDesktopWidth){
					margin: 0;
					width: calc(100% + 30px);
					height: auto;
					display: none;
				}
		}
		&.__8{
			width: 44.5vmin;
			height: 30.3vmin;
			margin-left: auto;
			margin-right: 33.5vmin;
				@include d($minDesktopWidth){
					margin: 0;
					width: calc(100% + 30px);
					height: auto;
				}
				.section-content-image{
					@include d($minDesktopWidth){
						margin: 30px -15px 0;
					}
				}
		}
		&.__9{
			width: 103.4vmin;
			height: 68.8vmin;
			margin-right: 50px;
			margin-left: -25.3vmin;
				@include d($minDesktopWidth){
					margin: 0;
					width: calc(100% + 30px);
					height: auto;
				}
				.section-content-image{
					@include d($minDesktopWidth){
						margin: 0 -15px;
					}
				}
		}
	}
	&.method-143{
		padding: 20vmin 0 4vmin;
			@include d($minDesktopWidth){
				padding: 50px 0 0;
			}
	}
}