.tailor{
	&-thumb{
		&.__7{
			width: 41.1vmin;
			height: 27.4vmin;
			margin-top: 0.7vmin;
			margin-right: 8vmin;
			margin-left: auto;
		}
		&.__8{
			width: 44.5vmin;
			height: 30.3vmin;
			margin-left: auto;
			margin-right: 33.5vmin;
		}
		&.__9{
			width: 103.4vmin;
			height: 68.8vmin;
			margin-right: 50px;
			margin-left: -25.3vmin;
		}
	}
	&.method-143{
		padding: 20vmin 0 4vmin;
	}
}